<ion-view class="app wrapper">
	<ion-pane>

		<!-- <meta-container></meta-container> -->
<!-- 		<meta-container 
			ng-if="$ctrl.meta" 
			close-meta="$ctrl.closeMeta()" 
			get-genre="$ctrl.getGenre(arg)"
		></meta-container> -->
		<survey
			get-genre="$ctrl.getGenre(arg)"
			ng-if="$ctrl.surveyOpen"
			close-meta="$ctrl.closeMeta()" 
		></survey>
		<home movie="$ctrl.movie"></home>

		<div id="survey-button" class="assertive action-button" on-tap="$ctrl.surveyOpen = true" ng-hide="$ctrl.surveyOpen" >
			<i class="ion-clipboard"></i>
		</div>

		<div id="movie-button" class="assertive action-button" on-tap="$ctrl.getRandom()" ng-hide="$ctrl.surveyOpen">
			<i class="ion-android-film"></i>
		</div>

		<div id="close-button" class="assertive action-button" on-tap="$ctrl.surveyOpen = false" ng-show="$ctrl.surveyOpen">
			<i class="ion-android-close"></i>
		</div>

	</ion-pane>

</ion-view>
