.app {
	width: 100%;
	height: 100%;
	margin: 0;
}

.app .toggle {
	position: fixed;
	bottom: 25px;
	right: 25px;
	background: black;
	
	height: 45px;
	width: 45px;

	border-radius: 50%;
	z-index: 10;
}
