

<ion-content class="home">

  <div class="item item-avatar">
    <img ng-src="{{ $ctrl.movie.image || 'assets/placeholder.png' }}">
    <h2>{{ $ctrl.movie.title || 'Loading...'}}</h2>
    <p>{{ $ctrl.movie.year }}<span ng-if="$ctrl.movie.year"> | </span>{{ $ctrl.movie.rating }}</p>
  </div>

  <div class="item item-image">
    <img ng-src="{{$ctrl.movie.image || 'assets/placeholder.png' }}">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-film-marker"></i>
    Start Watching
  </a>

</ion-content>

