<ion-slide-box on-slide-changed="slideChanged(index)">

  <ion-slide>
    <h3>Have You Seen Almost Famous?</h3>
    <input type="button" name="yes" value="yes">
    <input type="button" name="no" value="no">
  </ion-slide>

  <ion-slide>
    <h3>What Genres Do You Like</h3>
    <input type="button" name="Drama" value="">
    <input type="button" name="Comedy" value="">
    <input type="button" name="Action" value="">
    <input type="button" name="Animation" value="">
    <input type="button" name="Mystery" value="">
    <input type="button" name="Science" value="">
    <input type="button" name="Crime" value="">
  </ion-slide>
  <ion-slide>
    <h3>What Mood Are You In?</h3>
    <input type="button" name="Bloody" value="">
    <input type="button" name="Scary" value="">
    <input type="button" name="Happy" value="">
    <input type="button" name="Moody" value="">
    <input type="button" name="Heroic" value="">
    <input type="button" name="Mysterious" value="">
  </ion-slide>

  <ion-slide>
    <h3>Do You Like Romantic Comedies</h3>
    <input type="button" name="yes" value="yes">
    <input type="button" name="no" value="no">
  </ion-slide>

  <ion-slide>
    <h3>Would You Like To Cry</h3>
    <input type="button" name="yes" value="yes">
    <input type="button" name="no" value="no">
  </ion-slide>

  <ion-slide>
    <h3>Do You Know Who This Actor Is?</h3>
    <img src="" alt="Nick Cage Img">
    <input type="button" name="yes" value="yes">
    <input type="button" name="no" value="no">
    <!-- if no then it automatically recommends "Snake Eyes" -->
  </ion-slide>

  

</ion-slide-box>
